.nav-links > li > a {
  font-family: "clash-display-medium", sans-serif;
  font-size: 0.85rem;
}
.nav-links {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.nav-links > li > a:hover {
  color: var(--primary-color);
}
.navbar {
  position: fixed;
  top: 1rem;
  left: 1rem;
  z-index: 100;
}
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.bg-page {
  position: fixed;
  width: 95vw;
  height: 95vh;
  background-image: url("/public/bgPortfolio.svg");
  background-size: cover;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 25px;
  border: 2px solid var(--primary-color);
  opacity: 0.15;
  z-index: -1;
}
.bg-page2 {
  background-color: #20202000;
  position: fixed;
  width: 95vw;
  height: 95vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 25px;
  border: 1px solid var(--border-color);
}
.works-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 60vh;
  top: 15vh;
}
.card-work-container {
  position: absolute;
  display: flex;
  border-radius: 15px;
  padding: 1rem;
  border: 5px solid #000000;
  gap: 2rem;
  transform: translateX(-50%);
  left: 50%;
}


.card-work-container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("/public/textureCard.jpg");
  background-size: cover;
  background-position: center;
  top: 0;
  left: 0;
  opacity: 0.7;
  mix-blend-mode: multiply;
}
.Veritas {
  background-image: linear-gradient(145deg, #0f4c81 0%, #002341 100%);
}
.Overview {
  background-image: linear-gradient(145deg, #263159 0%, #0d0e14 100%);
}
.Upper90 {
  background-image: linear-gradient(145deg, #3002ff -25%, #7f009e 100%);
}
.mockup-image-container {
  position: relative;
  background-color: var(--bgColor);
  background-size: cover;
  width: 25%;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #000000;
  box-shadow: inset 0px 0px 50px #000000c4;
}
.mockup-image-container > * {
  position: relative;
  z-index: 1;
}
.mockup-image-container::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("/public/bgPortfolio.svg");
  opacity: 0.15;
  background-size: cover;
  border-radius: 12px;
}
.mockup-image {
  width: 100%;
  height: auto;
}
.card-work-content {
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card-work-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-work-icon {
  width: 4rem;
  z-index: 1;
}
h2 > span {
  font-size: 1rem;
  font-weight: 400;
}
.card-work-header-container > h2 {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.card-work-description {
  width: 75%;
}
.card-work-technologies {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}
.card-work-technologies > ul {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  margin-top: auto;
  align-items: center;
  margin: 0;
  padding: 0;
}
.card-work-technologies > ul > li {
  background-color: var(--primary-color);
  border-radius: 50%;
  font-size: 0.75rem;
  width: 4.5rem;
  height: 4.5rem;
  align-items: center;
  display: flex;
  justify-content: center;
  border: 4px solid #000000;
}
.card-work-technologies-container {
  display: flex;
  gap: 1.2rem;
  flex-direction: column;
}
.Overview-mockup,
.Upper90-mockup {
  width: 120%;
}
