/* @import "tailwindcss"; */
html {
  background-color: #202020;
  color: #fff;
}
ul {
  list-style: none;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
a {
  text-decoration: none;
  color: #fff;
}
:root {
  --bgColor: #202020;
  --primary-color: #f9ca0b;
  --border-color: #888888;
  --mobile: 768px;
  --tablet: 1024px;
  --desktop: 1280px;
}

@font-face {
  font-family: "yaperi";
  src: url("./assets/fonts/Yapari-Variable-Trial-VF.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "clash-display-regular";
  src: url("./assets/fonts/ClashDisplay-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "clash-display-medium";
  src: url("./assets/fonts/ClashDisplay-Medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "clash-display-bold";
  src: url("./assets/fonts/ClashDisplay-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}
h2 {
  font-family: "yaperi", sans-serif;
  font-size: 3rem;
  margin: 0;
}
h4 {
  font-family: "yaperi", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
p {
  font-family: "clash-display-regular", sans-serif;
  font-size: 1rem;
}
.mockup-image-device {
  width: 100%;
  height: 100%;
}
span {
  font-family: "yaperi";
  font-size: 1.2rem;
  font-weight: 400;
}
h1 {
  font-family: "yaperi", sans-serif;
}
hr {
  width: 100%;
  border: 1px solid var(--border-color);
}
p{
  margin: 0;
}
strong{
  font-family: "clash-display-bold";
}